@import "@nikitababko/reset-css";

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--open-sans-regular), Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  min-height: 100%;
}
