.h1 {
  font-size: 40px;
  font-weight: 700;
}

.h2 {
  position: relative;
  width: 100%;
  align-self: flex-start;
  font-size: 30px;
  font-weight: 500;

  &:after {
    content: '';
    position: absolute;
    bottom: -9px;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #222;
  }

  // TODO: add h(3,4,5,6) styles
}

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: justify;
}
