@import "../../styles/functions";

.socialShareContainer {
  display: flex;
  gap: 6px;
}

.shareBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  transition: transition(background);
  text-decoration: none;
}

.shareBtn {
  background-color: #95a5a6;

  &:hover {
    background-color: darken(#95a5a6, 10%);
  }
}

.shareBtnTwitter {
  background-color: #000;

  &:hover {
    background-color: lighten(#000, 10%);
  }
}

.shareBtnFacebook {
  background-color: #3b5998;

  &:hover {
    background-color: darken(#3b5998, 10%);
  }
}

.shareBtnLinkedin {
  background-color: #007bb6;

  &:hover {
    background-color: darken(#007bb6, 10%);
  }
}

.shareBtnReddit {
  background-color: #ED001C;

  &:hover {
    background-color: darken(#ED001C, 10%);
  }
}
