@import "../../styles/functions";
@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
  max-width: 500px;
  padding: 40px;
  box-shadow: $box-shadow;
  border-radius: 12px;
  text-decoration: none;
  transition: transition(transform);

  @media (hover: hover) {
    &:hover {
      transform: translateY(-10px);
    }
  }

  @media screen and (max-width: $media-max-width-768) {
    max-width: 100%;
  }
}

.title {
  font-size: 48px;
  font-weight: 400;
  color: #222;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  @media screen and (max-width: $media-max-width-768) {
    font-size: 30px;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 17px;
}

.tagContainer {
  display: flex;
  gap: 9px;
}

.tagDot {
  width: 18px;
  height: 18px;
  border-radius: 50%;

  &JavaScript {
    background-color: #EDD950;
  }

  &TypeScript {
    background-color: #3077C6;
  }
}

.tagLabel {
  font-size: 20px;
  font-weight: 400;
  color: #222;
}
